# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# env
.env
.env*.local
.env.development
.env.production

# uploads (local fallback storage — don't commit user files)
public/uploads/

# debug
dev.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
*.pem
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
